<h1>Edit <%= @workout.name %></h1>

<form action="/bags/<%=@workout.id %>" method="POST">
  <label> Workout Name </label>
  <input type="text" name="name" value="<%=@workout.name %>"> </br>

  <label> Workout Date </label>
  <input type="text" name="date" value="<%=@workout.date %>"> </br>

  <input type="submit" value="Update">
</form>